*{
    margin:0;
    padding:10;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body{
    width: 100%;
    height: 100vh;
    background-color: #256BCB;
    background-position: center;
    background-size: cover; 
    flex-direction: column;
    justify-content: space-between; 


}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    padding: 0 10%;
    color:#fff;
    flex-direction: column;
    justify-content: space-between; 
}

nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 20px;
    cursor:pointer;
    display:none;
    

}

.logo{
    width: 75px;
    }

.nav-ul{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    
}


.nav-ul li a{
    display:  inline-block;
    margin: 10px 20px;
    color: #fff;
    text-decoration: none;
}

.btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}


.content{
    margin-top: 0%;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

}


.text{
    margin-top: 0%;
    
    flex: 1 0 0px;
}

.text h1{
    font-size: 88px;
    margin-bottom:20px;
}

.text p{
    line-height: 22px; 
    font-size: 14px;
}

.text .btn{
    display: inline-block;
    margin-top: 20px;
    background: fuchsia;
    text-decoration: none;
    padding: 15px 30px;
}

.crypto{
   
    display: flex;
   
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex: 2 0 0px;   
    

}

.coin{
    display: flex;
    align-items:center;
    font-size: 14px;
    margin: 0 15px;
    color: rgb(240, 176, 240);
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 8px;

}



.coin img{
    width: 40px;
    margin-right:10px ;
}

.coin h3{
    color: #fff;
}

.symbol{
    font-weight: bolder;
}

footer{
    display: flex;    
    justify-content: center; 
    

}

.social img{
    width:40px;
    
    
}




@media (max-width: 768px){

    .nav-ul {
        display:none;
        width: 100%;
        flex-direction: column;
    }

    .nav-ul.show{
        display:flex;
    }


    .hamburger{
        display: block;
    }

    #EME{
        display: none;
    }

    .text h1{
        font-size: 66px;
        margin-bottom:10px;
    }
}

@media (max-width: 320px){

    .text h1{
        font-size: 44px;
        margin-bottom:10px;
    }

    .crypto{
        padding: 5px;
        
    }

}
